ion-button, .labelCheckbox, .requiredMessage {
    font-size: 12px;
}

ion-title, .textInfo {
    font-size: 15px;
}

ion-grid, .end-col {
    padding: 0;
}

.checkbox-col, .start-col {
    padding-top: 0;
}

.name-col, .start-col {
    padding-bottom: 0;
}

ion-title {
    font-weight: bold;
}

ion-checkbox {
    --border-color: #f4f5f8;
    margin-right: 10px;
}

ion-card-content {
    padding: 5px;
}

ion-button {
    --border-radius: 2px;
}

ion-item {
    margin-bottom: 5px;
}

.textInfo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkbox-col {
    margin-bottom: 10px;
}

.checkbox-item {
    --background: #3b4781;
}

.start-col {
    padding-left: 0;
}

.requiredMessage {
    margin-top: 5px;
}
